@model SusDulu.Models.LocalPasswordModel

<h3>Ubah sandilewat</h3>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label col-lg-2" })
        <div class="col-lg-6">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label col-lg-2" })
        <div class="col-lg-6">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-lg-2" })
        <div class="col-lg-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-6 col-lg-offset-2">
            <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Simpan</button>
        </div>
    </div>
}
