@{
    ViewBag.Title = "Beranda";
}

@model List<SusDulu.Models.Airport>
<div class="row front-page">
    <div class="col-sm-6 hidden-xs front-page-intro">
        <h1>Terbang bersama Anda</h1>
        <p>Erlangga Airlines berkomitmen untuk memberikan pelayanan terbaik dalam setiap perjalanan Anda.</p>
    </div>
    <div class="col-sm-6 col-xs-12 front-page-search">
        <h3>Pesan perjalanan Anda sekarang</h3>
        @if (ViewBag.Message != null)
        {
            if (ViewBag.Message.Equals("search_error"))
            {
                <p>Data yang anda masukkan belum lengkap</p>
            }
            else if (ViewBag.Message.Equals("input_error"))
            {
                <p>Data yang anda masukkan salah</p> 
            }
        }
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label">Asal</label>
                    <select class="form-control" name="Origin">
                        @foreach (var item in Model)
                        {
                        <option value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.ID))</option>
                        }
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Tujuan</label>
                    <select class="form-control" name="Destination">
                        @foreach (var item in Model)
                        {
                        <option value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.ID))</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline"><input type="radio" name="TripType" value="one-way" id="oneWayTripRadio"> Sekali jalan</label>
                <label class="checkbox-inline"><input type="radio" name="TripType" value="round-trip" id="returnTripRadio" checked> Pulang pergi</label>
            </div>
            <div class="row">
                <div class="form-group col-sm-5">
                    <label class="control-label">Keberangkatan</label>
                    <input type="date" name="Departure_date1" class="form-control" />
                </div>
                <div class="form-group col-sm-5" id="returnTripDate">
                    <label class="control-label">Kepulangan</label>
                    <input type="date" name="Departure_date2" class="form-control" />
                </div>
                <div class="form-group col-sm-2">
                    <label class="control-label">Jumlah</label>
                    <select name="Sum" class="form-control">
                    @for (int i = 1; i < 10; ++i)
                    {
                        <option value="@i">@i</option>
                    }
                    </select>
                    @*<input type="number" name="Sum" class="form-control" />*@
                </div>
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-danger btn-lg">Cari <i class="glyphicon glyphicon-arrow-right"></i></button>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            if ($('input[type=date]').prop('type') != 'date') {
                $('input[type=date]').attr('type', 'text').datepicker({ dateFormat: "yy-mm-dd" });
            }
            $('#oneWayTripRadio').change(function () {
                $(this).is(':checked') ?
                    $('#returnTripDate input').attr('disabled', 'disabled') :
                    $('#returnTripDate input').removeAttr('disabled');
            });
            $('#returnTripRadio').change(function () {
                $(this).is(':checked') ?
                    $('#returnTripDate input').removeAttr('disabled') :
                    $('#returnTripDate input').attr('disabled', 'disabled');
            })
        });
    </script>
}