@{
    ViewBag.Title = "Beranda";
}

@model List<SusDulu.Models.Airport>
<div class="row front-page">
    <div class="col-lg-6 front-page-intro">
        <h1>Terbang bersama Anda</h1>
        <p>Erlangga Airlines berkomitmen untuk memberikan pelayanan terbaik dalam setiap perjalanan Anda.</p>
    </div>
    <div class="col-lg-6 front-page-search">
        <h3>Pesan perjalanan Anda sekarang</h3>
        @using (Html.BeginForm("Search", "Flight", FormMethod.Post))
        {
            <div class="row">
                <div class="form-group col-lg-6">
                    <label class="control-label">Asal</label>
                    <select class="form-control" name="origin">
                        @foreach (var item in Model)
                        {
                        <option value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.ID))</option>
                        }
                    </select>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label">Tujuan</label>
                    <select class="form-control" name="destination">
                        @foreach (var item in Model)
                        {
                        <option value="@Html.DisplayFor(modelItem => item.ID)">@Html.DisplayFor(modelItem => item.Name) (@Html.DisplayFor(modelItem => item.ID))</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline"><input type="radio" name="tripType" value="one-way" id="oneWayTripRadio" checked> Sekali jalan</label>
                <label class="checkbox-inline"><input type="radio" name="tripType" value="round-trip" id="returnTripRadio"> Pulang pergi</label>
            </div>
            <div class="row">
                <div class="form-group col-lg-5">
                    <label class="control-label">Keberangkatan</label>
                    <input type="date" name="departure_date1" class="form-control" />
                </div>
                <div class="form-group col-lg-5" id="returnTripDate">
                    <label class="control-label">Kepulangan</label>
                    <input type="date" name="departure_date2" class="form-control" />
                </div>
                <div class="form-group col-lg-2">
                    <label class="control-label">Jumlah</label>
                    <input type="number" class="form-control" />
                </div>
            </div>
            <div class="form-group pull-right">
                <button class="btn btn-danger btn-lg">Cari <i class="glyphicon glyphicon-arrow-right"></i></button>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $('input[type=date]').datepicker();
        $('#oneWayTripRadio').change(function () {
            $(this).is(':checked') ?
                $('#returnTripDate input').attr('disabled', 'disabled') :
                $('#returnTripDate input').removeAttr('disabled');
        });
        $('#returnTripRadio').change(function () {
            $(this).is(':checked') ?
                $('#returnTripDate input').removeAttr('disabled') :
                $('#returnTripDate input').attr('disabled', 'disabled');
        })
    </script>
}