@model SusDulu.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ticket</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_user)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_user)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID_flight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_flight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.First_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.First_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Middle_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Middle_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Last_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Last_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Province)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Province)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Postcode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Postcode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Class)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Class)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Seat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seat)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
