@{
    ViewBag.Title = "Pembayaran Tiket";
}

<h1 class="page-header">Konfirmasi pesanan</h1>

<div class="row">
    <div class="col-md-6">
        <h3>Penerbangan @(!ViewBag.isRoundTrip ? "Satu Arah" : "Pulang-Pergi")</h3>
        <h4>Keberangkatan</h4>
        <table class="table">
            <tr>
                <th></th>
                <th colspan="2">Asal</th>
                <th colspan="2">Tujuan</th>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-plane"></i> @ViewBag.flight1.Flight_number</td>
                <td>@ViewBag.origin.Name<br />(@ViewBag.origin.ID)</td>
                <td><i class="glyphicon glyphicon-calendar"></i> @ViewBag.flight1.GetDepartureDateTime().ToShortDateString() <br /> <i class="glyphicon glyphicon-time"></i> @ViewBag.flight1.Departure_time</td>
                <td>@ViewBag.destination.Name<br />(@ViewBag.destination.ID)</td>
                <td><i class="glyphicon glyphicon-calendar"></i> @ViewBag.flight1.GetArrivalDateTime().ToShortDateString() <br /> <i class="glyphicon glyphicon-time"></i>  @ViewBag.flight1.Arrival_time</td>
            </tr>
        </table>

        @if (ViewBag.isRoundTrip)
        {
        <h4>Kepulangan</h4>
        <table class="table">
            <tr>
                <th></th>
                <th colspan="2">Asal</th>
                <th colspan="2">Tujuan</th>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-plane"></i> @ViewBag.flight2.Flight_number</td>
                <td>@ViewBag.destination.Name<br />(@ViewBag.destination.ID)</td>
                <td><i class="glyphicon glyphicon-calendar"></i> @ViewBag.flight2.GetDepartureDateTime().ToShortDateString() <br /> <i class="glyphicon glyphicon-time"></i>  @ViewBag.flight1.Departure_time</td>
                <td>@ViewBag.origin.Name<br />(@ViewBag.origin.ID)</td>
                <td><i class="glyphicon glyphicon-calendar"></i> @ViewBag.flight2.GetArrivalDateTime().ToShortDateString() <br /> <i class="glyphicon glyphicon-time"></i> @ViewBag.flight2.Arrival_time</td>
            </tr>
        </table>
        }
    </div>

    <div class="col-md-6">
        <h3>@ViewBag.Sum Penumpang</h3>
        <h4>&nbsp;</h4>
        <table class="table">
            <tr>
                <th>Nama</th>
                <th>Kelas</th>
                <th>Nomor kursi</th>
                <th>Harga</th>
            </tr>
            @{
                int Total = 0;
            }
            @foreach (SusDulu.Models.FauxTicket p in ViewBag.Passengers)
            {
                Total += p.Price;
            <tr>
                <td>@p.Name</td>
                <td>@(p.SeatClass == "FIRSTCLASS" ? "Eksekutif" : (p.SeatClass == "BUSINESS" ? "Bisnis" : "Ekonomi"))</td>
                <td>@p.Seat</td>
                <td>@p.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("id-ID"))</td>
            </tr>
            }
        </table>

    </div>
</div>

@using (Html.BeginForm("PaymentGateway", "Order"))
{
    <h3>Pembayaran</h3>
    <div class="row">
        <div class="col-md-6">
            <p>
                Pembayaran tiket Erlangga Airlines didukung oleh mitra kami, PayDulu.
                Setelah menekan tombol di bawah ini, Anda akan dialihkan ke laman PayDulu,
                di mana Anda menyelesaikan pembayaran. Setelah transaksi berhasil, Anda akan
                dialihkan kembali ke situs Erlangga Airlines di mana Anda dapat mencetak tiket Anda.
            </p>
        </div>
        <div class="col-md-6">
            @Html.Hidden("total", Total)
            @{
                string origin = ViewBag.origin.ID;
                string destination = ViewBag.destination.ID;
                string pax = ViewBag.Sum.ToString();
            }
            @Html.Hidden("origin", origin)
            @Html.Hidden("destination", destination)
            @Html.Hidden("pax", pax)
            <button type="submit" class="btn btn-lg btn-danger"><i class="glyphicon glyphicon-shopping-cart"></i> Bayar <b>@Total.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("id-ID"))</b> melalui <b>PayDulu</b></button>
        </div>
    </div>
}

<!--
@using (Html.BeginForm("Index", "Payment", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Data Pembayar</legend>

        @if (!Request.IsAuthenticated)
        {
            <div class="editor-label">
                <label>Alamat surel: </label>
            </div>
            <div class="editor-field">
                <input type="text" name="email" />            
            </div>

            <div class="editor-label">
                <label>Nama: </label>
            </div>
            <div class="editor-field">
                <input type="text" name="name" />
            </div>
        }

        <div class="editor-label">
            <label>Nomor kartu kredit: </label>
        </div>
        <div class="editor-field">
            <input type="text" name="ccnumber" />
        </div>
        <br />
        <br />
        @*<input type="submit" value="Purchase" />*@
        <div class="form-group pull-right" style="float:left!important">
            <button class="btn btn-danger btn-lg">Bayar<i class="glyphicon glyphicon-arrow-right"></i></button>
        </div>
    </fieldset>
}
-->