<!DOCTYPE html>
<html lang="id">
<head>
    <title>Erlangga Airlines: @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon">
    @Styles.Render("~/Content/Stylesheets")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="container">
        <div class="site-header">
            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/img/masthead.svg")" height="60"></a>
            <div class="member-area">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <div class="current-user">
                        <i class="glyphicon glyphicon-user"></i> @User.Identity.Name
                    </div>
                
                    <div class="current-user-actions">
                        <a href="@Url.Action("TicketList", "Account")" class="btn btn-sm btn-default"> Daftar Tiket</a>
                        <a href="@Url.Action("Manage", "Account")" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-cog"></i> Pengaturan Akun</a>
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-log-out"></i> Logout</button>
                    </div>
                }
            }
            else
            {
                <a href="@Url.Action("Login", "Account")" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-log-in"></i> Login</a>
                <a href="@Url.Action("Register", "Account")" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-flash"></i> Daftar</a>
            }
            </div>
        </div>
        <section class="content-wrapper main-content clear-fix">
        @RenderBody()
        </section>
        <footer class="site-footer">
            <p>Hak cipta &copy; 2013 Erlangga Airlines.</p>
            <p><a href="#">Kebijakan privasi</a> &nbsp;&nbsp; <a href="#">Ketentuan penggunaan</a></p>
        </footer>
    </div>
    <script src="~/Content/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>