<!DOCTYPE html>
<html lang="id">
<head>
    <title>Erlangga Airlines: @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/img/favicon.png")" rel="shortcut icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="container">
        <div class="site-header">
            <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/img/masthead.svg")" height="60"></a>
            <p class="member-area btn-group">
                <a href="@Url.Action("Login", "Member")" class="btn btn-sm btn-default">Login</a>
                <a href="@Url.Action("Create", "Member")" class="btn btn-sm btn-danger">Daftar</a></p>
        </div>
        @RenderBody()
        <footer class="site-footer">
            <p>Hak cipta &copy; 2013 Erlangga Airlines.</p>
            <p><a href="#">Kebijakan privasi</a> &nbsp;&nbsp; <a href="#">Ketentuan penggunaan</a></p>
        </footer>
    </div>
    <script src="~/Content/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>