@model SusDulu.Models.Flight

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Flight</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.origin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.origin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.destination)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.destination)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.departure)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departure)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.level)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
