@model SusDulu.Models.Flight

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Flight</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.origin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.origin)
            @Html.ValidationMessageFor(model => model.origin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.destination)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.destination)
            @Html.ValidationMessageFor(model => model.destination)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.departure)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.departure)
            @Html.ValidationMessageFor(model => model.departure)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.level)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.level)
            @Html.ValidationMessageFor(model => model.level)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
