@{
    ViewBag.Title = "Cetak Tiket";
}
@model SusDulu.Models.FlightTicket
<h1 class="page-header">Pencetakan Tiket</h1>
<div class="row">
    <div class="span8">
        <form class="form-horizontal reg-form">
            <table>
				<tr>
					<td>ID</td>
					<td>: @Html.DisplayTextFor(model => model.ticket.Id_ticket)</td>
				</tr>
				<tr>
					<td>Kelas</td>
					<td>: @Html.DisplayTextFor(model => model.ticket.Class)</td>
				</tr>
				<tr>
					<td>No. Kursi</td>
					<td>: @Html.DisplayTextFor(model => model.ticket.seat)</td>
				</tr>
				<tr>
					<td>Asal</td>
					<td>: @Html.DisplayTextFor(model => model.flight.origin)</td>
				</tr>
				<tr>
					<td>Tujuan</td>
					<td>: @Html.DisplayTextFor(model => model.flight.destination)</td>
				</tr>
				<tr>
					<td>Waktu keberangkatan</td>
					<td>: @Html.DisplayTextFor(model => model.flight.schedule)</td>
				</tr>
			</table>
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Cetak</button>
            </div>
        </form>
    </div>
</div>