@model IEnumerable<SusDulu.Models.Flight>

@{
    ViewBag.Title = "SearchIndex";
}

<h2>Search</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@

    @using (Html.BeginForm())
    {
        <p>Origin: @Html.DropDownList("flightOrigin","All")
            Destination: @Html.DropDownList("flightDestination","All")
            Schedule: <input class="datefield" name="flightSchedule" type="date"/>
        <input class="input-sm" type="submit" value="Search"/></p>
    }
</p>
<table class="table">
    <tr>
        <th class="lead">
            @Html.DisplayNameFor(model => model.origin)
        </th>
        <th class="lead">
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th class="lead">
            @Html.DisplayNameFor(model => model.distance)
        </th>
        <th class="lead">
            @Html.DisplayNameFor(model => model.schedule)
        </th>
        <th class="lead">
            @Html.DisplayNameFor(model => model.level)
        </th>
        <th class="lead">
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @*<input class="close" type="submit" value=">"/>*@
            @Html.ActionLink(">","Create","Order")

            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
